.mud-menu-button {
  /* mud-list-item */
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  text-align: start;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: flex-start;
  text-decoration: none;

  /* mud-list-item-gutters */
  padding-left: 16px;
  padding-right: 16px;
}

.fab {
  bottom: 24px;
  right: 24px;
  flex: 1;
  z-index: 1000;
  position: fixed
}