.mud-menu-button {
  /* mud-list-item */
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  text-align: start;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: flex-start;
  text-decoration: none;

  /* mud-list-item-gutters */
  padding-left: 16px;
  padding-right: 16px;
}

.fab {
  bottom: 24px;
  right: 24px;
  flex: 1;
  z-index: 1000;
  position: fixed
}

@media screen and (max-width: 960px) {
  .fab {
    bottom: calc(var(--mud-appbar-height) - var(--mud-appbar-height) / 8 + 24px);
    right: 24px;
    flex: 1;
    z-index: 1000;
    position: fixed
  }
}

@media screen and (min-width: 600px) and (max-width: 960px) {
  .mud-appbar .mud-toolbar-appbar {
    height: calc(var(--mud-appbar-height) - var(--mud-appbar-height) / 8);
  }
}