@using Microsoft.AspNetCore.Components.Authorization
@using Client.Services.Authentication

@inject NavigationManager NavigationManager
@inject IAuthService AuthService

<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
        <button class="nav-link btn btn-link" @onclick=@LogoutAsync>Log out</button>
    </Authorized>
    <NotAuthorized>
        <!-- <a href="Identity/Account/Register">Register</a> -->
        <a href="login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    public async Task LogoutAsync()
    {
        await AuthService.LogoutAsync();
        NavigationManager.NavigateTo("", false);
    }
}